In [1]:
import pandas as pd

In [3]:
pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [15]:
df = pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index=['a','b','c'])
df

    id color
a  100   red
b  101  blue
c  102   red

In [6]:
pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [7]:
import numpy as np

In [9]:
arr = np.random.rand(4,2)
arr

array([[0.18122348, 0.06279315],
       [0.47671867, 0.23567208],
       [0.46466623, 0.13855423],
       [0.18822402, 0.00198878]])

In [10]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.181223  0.062793
1  0.476719  0.235672
2  0.464666  0.138554
3  0.188224  0.001989

In [12]:
pd.DataFrame({'student': np.arange(100,110,1), 'test':np.random.randint(60,101,10)})

   student  test
0      100    91
1      101    71
2      102    88
3      103    79
4      104    93
5      105    78
6      106    64
7      107    68
8      108    63
9      109    79

In [13]:
pd.DataFrame({'student': np.arange(100,110,1), 'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        82
101        99
102        64
103        60
104        93
105        98
106        86
107        73
108        78
109        88

In [14]:
s = pd.Series(['round','square'], index=['c','b'], name='shape')
s

c     round
b    square
Name: shape, dtype: object

In [16]:
pd.concat([df,s],axis=1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round